.windesk {
    background: url(/windesk/images/main/02.jpg) no-repeat fixed;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
}
.windesk > .main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
}
.windesk > .main > dl {
    margin: 0px;
    padding: 0px;
    background: rgba(0,0,0,0.3);
    border-radius: 0px;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 0px 9px;
}
.windesk>.main>dl>dt{
    line-height:50px;
    font-size:20px;
    font-weight:400;
    color:#FFFFFF;
}
.windesk > .main > dl > dt > h2 {
    border-bottom: 2px solid rgba(255,255,255,.1);
    text-align: center;
    color:rgba(255,255,255,.8);
}
.windesk > .main > dl > dt > h3 {
    font-size: 16px;
    color: rgba(255,255,255,.6);
}
.windesk>.main>dl>dd{
    margin-top:10px;
}
.windesk > .main > dl > dd input {
    height: 45px;
    text-indent: 10px;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    width: 100%;
    background: rgba(255,255,255,1);
    border-radius: 3px;
    box-sizing: border-box;
}
.windesk > .main > dl > dd.code {
    display: -webkit-box;
    width: 100%;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal; /* ºáÅÅÏÔÊ¾*/
}
.windesk > .main > dl > dd.code > div {
    -webkit-box-flex: 1;
}
.windesk>.main>dl>dd.code>img{
    height:45px;
    border-radius:0px 3px 3px 0px;
    cursor:pointer;
}
.windesk > .main > dl > dd.code input {
    border-radius:5px 0px 0px 5px;
}
.windesk > .main > dl > dd  input[type='text']:focus, .windesk > .main > dl > dd   input[type='password']:focus {
    border-color: #ffa40a !important;
    background-color: #fffbcc;
    -moz-box-shadow: 0 0 0 3px #ffa40a4a;
    -webkit-box-shadow: 0 0 0 3px #ffa40a4a;
    box-shadow: 0 0 0 3px #ffa40a4a;
    transition: border .2s linear 0s,box-shadow .2s linear 0s;
    -moz-transition: border .2s linear 0s,box-shadow .2s linear 0s;
    -webkit-transition: border .2s linear 0s,box-shadow .2s linear 0s;
    -o-transition: border .2s linear 0s,box-shadow .2s linear 0s;
}
    .windesk > .main > dl > dd input[type='button'] {
        background: linear-gradient(360deg,#4caf50 0%,#8bc34a 100%);
        border: 0;
        cursor: pointer;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -o-transition: all 2s;
    }
    .windesk > .main > dl > dd input[type='button']:hover {
        opacity: 1;
        background: linear-gradient(360deg,#f60 0%,#f96c36 100%);
        -moz-box-shadow: 0 0 0 3px #ffa40a4a;
        -webkit-box-shadow: 0 0 0 3px #ffa40a4a;
        box-shadow: 0 0 0 3px #ffa40a4a;
        transition: border .2s linear 0s,box-shadow .2s linear 0s;
        -moz-transition: border .2s linear 0s,box-shadow .2s linear 0s;
        -webkit-transition: border .2s linear 0s,box-shadow .2s linear 0s;
        -o-transition: border .2s linear 0s,box-shadow .2s linear 0s;
    }
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 30px;
    background: #FFFFFF;
    width: 100%;
    padding: 20px 0px;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 16px;
    color: rgba(0,0,0,.5);
}
.pwd-eye {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 25px;
    color: #999;
}
.anim {
    -webkit-transform: rotate(0deg) scale(0,0);
    transform: rotate(0deg) scale(0,0);
    -moz-transform: rotate(0deg) scale(0,0);
    -o-transform: rotate(0deg) scale(0,0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    border-radius: 5px;
}

.anims {
    transform: rotate(360deg) scale(1,1);
    -moz-transform: rotate(360deg) scale(1,1);
    -o-transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}

@media screen and (max-width: 768px) {
    .windesk > .main {
        width: 320px;
    }
    .waves {
        height: 40px;
        min-height: 40px;
    }
}