html {
    height: 100%;
    background-image: url(/windesk/images/main/03.jpg) !important;
    background-color: transparent !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.windesk {
    width: 100%;
    height: 100%;
    /*background: black no-repeat fixed;*/
    background-size: 100% 100%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient:vertical;
}
.zw-logo-bg {
    top: 18px;
}
.task-bar .zw-icon{
    font-size:25px;
}

.windesk * {
    scrollbar-arrow-color: #5e6a5c; /*图6,三角箭头的颜色*/
    scrollbar-face-color: #5e6a5c; /*图5,立体滚动条的颜色*/
    scrollbar-3dlight-color: #5e6a5c; /*图1,立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #5e6a5c; /*图2,滚动条空白部分的颜色*/
    scrollbar-shadow-color: #5e6a5c; /*图3,立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #5e6a5c; /*图4,立体滚动条强阴影的颜色*/
    scrollbar-track-color: rgba(74, 84, 78, 0.41); /*图7,立体滚动条背景颜色*/
    scrollbar-base-color: #5e6a5c; /*滚动条的基本颜色*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.windesk .desktop {
    -webkit-box-flex: 1;
}
.windesk .taskbar {
    height: 50px;
    background-color: rgba(50,60,70,.8);
    box-shadow: 0px 1px 2px rgba(10,20,30,.5);
    border-top: 1px solid rgba(255,255,255,.1);
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-shadow: 0px 1px 2px rgba(10,20,30,.5);
    z-index:85100600;
}
.windesk .taskbar .main-menu{
    width:60px;
    font-size:20px;
    position:relative;
}
.windesk .taskbar .search {
    height: 30px;
    background-color: #F2FBF9;
    border-radius: 25px;
    border: 1px solid rgba(74, 84, 78, 0.41);
    margin-top: 10px;
    width: 90px;
}
.windesk .taskbar .search:hover {
    background: linear-gradient(170deg, #2AA9EB 0%, #0078D4 100%);
    color:#FFFFFF;
}
.windesk .taskbar .taskbar-btns {
    -webkit-box-flex: 1;
}
.windesk .taskbar .taskbar-btns > ul {
    height: 100%;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
}
.windesk .taskbar .taskbar-btns > ul > li {
    height: 100%;
    display: inline-block;
    position: relative;
    margin: 0px 2px;
    color: #FFFFFF;
    display: flex;
    align-items:center;
}
.windesk .taskbar .taskbar-btns > ul > li:hover {
    background-color: rgba(255,255,255,.15);
}
.windesk .taskbar .taskbar-btns > ul > li:hover > .line {
    background-color: rgba(77,176,80,.6)
}
.windesk .taskbar .taskbar-btns > ul > li:hover>u{
    display:initial;
            
}
.windesk .taskbar .taskbar-btns>ul>li>i{
    margin:2px;
}
.windesk .taskbar .taskbar-btns>ul>li>img{
    height:20px;
    margin:5px;
}
.windesk .taskbar .taskbar-btns>ul>li>u{
    font-size:10px;
    position:absolute;
    right:2px;
    top:3px;
    padding:1px;
    display:none;
}
.windesk .taskbar .taskbar-btns>ul>li>u:hover{
    background-color:#FF0000;
}
.windesk .taskbar .taskbar-btns > ul > li > span {
    line-height: 45px;
    margin-right: 3px;
    max-width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
}
.windesk .taskbar .taskbar-btns>ul>li>.line{
    height:4px;
    background-color:rgba(255,255,255,.5);
    position:absolute;
    bottom:0px;
    width:100%;
}
.windesk .taskbar .taskbar-btns > ul > li.active {
    background-color: rgba(255,255,255,.15);
}
.windesk .taskbar .taskbar-btns > ul > li.active > .line {
    background-color: rgba(76,175,80,.9);
}
.windesk .taskbar .time{
    width:90px;
    display:inline-block;
    text-align:right;
    color:#FFFFFF;
}
.windesk .taskbar > button {
    border: 0px;
    background-color: rgba(255,255,255,0);
    height: 100%;
    display: block;
    margin:0 1px;
    transition:1s;
}
.windesk .taskbar .msg {
    width: 40px;
   color:#FFFFFF;
   font-size:25px;
}
.windesk .taskbar .time{
    padding-right:10px;
    line-height:18px;
}
.windesk .taskbar .showdesk {
    width: 10px;
    height: 100%;
    border: 0px;
    background-color: rgba(255,255,255,0);
    border-left: 1px solid rgba(255,255,255,.25);
}
.windesk .taskbar button:hover,.windesk .taskbar button.active{
    background-color:rgba(255,255,255,.15);
}
.zw-logo-bg {
    top: 18px;
    left:22px;
}
.zw-logo-icon{
    top:0;
    width:100%;
}
.windesk .desktop ul {
    height: 100%;
    box-sizing: border-box;
    padding:10px;
    position:relative;
}
.windesk .desktop ul > li, .icon {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 100px;
    padding: 0 5px;
    color: #FFFFFF;
    font-family: Georgia;
    text-align:center;
    border:1px solid rgba(255,255,255,0);
    border-radius:3px;
}
.windesk .desktop ul > li:hover {
    background: rgba(255,255,255,.2);
    border: 1px solid rgba(255,255,255,.5)
}
.windesk .desktop>ul>li>img{
    position:relative;
    z-index:1;
    max-width:64px;
    max-height:64px;
}
.windesk .icon img {
    max-width: 64px;
    max-height: 64px;
}
.windesk .desktop > ul > li:hover > i {
    background: linear-gradient(#FF9C00 50%,#FF8400 50%);
}
.windesk .desktop > ul > li > i {
    background: linear-gradient(#9ac149 50%,#75ac02 50%);
}
.windesk .desktop > ul > li > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #FFFFFF;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    text-shadow: 1px 1px #000000;
}
.windesk .desktop .grid, .windesk .desktop .movegrid {
    position: absolute;
    z-index: -2;
    width: 98px;
    height: 98px;
    line-height: 100px;
    text-align: center;
    border: 1px dotted #900;
    color: #ccc;
    font-size: 24px;
    font-family: Georgia
}
.windesk .desktop .movegrid {
    z-index: -1;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: 1px dotted #00F
}
.windesk .desktop .tip {
    text-indent: -999em
}
/*右键菜单*/
.context-menu {
    position: absolute;
    width: 150px;
    top: 100px;
    right: 100px;
    background: #FFFFFF;
    border: 1px solid #E0E2E8;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px #3e3e3e;
    z-index: 85100601;
}
.context-menu > ul {
        margin: 5px 5px;
        
    }
.context-menu>ul>li{
    width:100%;
    height:30px;
    line-height:30px;
}
.context-menu>ul>li>a{
    display:inline-block;
    width:100%;
   text-decoration:none;
   border-radius:3px;
   color:#5e6a5c;
}
.context-menu>ul>li>a:hover{
    background:#EFEFEF;
}
.context-menu > ul > li > a > i {
    margin-left: 3px;
    margin-right: 3px;
    width: 19px;
    height: 19px;
    line-height:19px;
    display: inline-block;
}
table.about{
    margin:5px !important;
    width:calc(100% - 10px) !important;
}
  
.windesk .startmenu {
    width: 0px;
    height: 0px;
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    bottom: 51px;
    left: 0;
    overflow: hidden;
    z-index: 85100600;
}
.windesk .startmenu > .sidebar {
    width: 60px;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient:vertical;
}
.windesk .startmenu > .sidebar > .emptybutton {
    -webkit-box-flex: 1;
}
.windesk .startmenu > .submenu {
    -webkit-box-flex: 1;
    background-color: rgba(0,0,0,.6);
    overflow-y:auto;
    overflow-x:hidden;
}
.windesk .startmenu > .sidebar > button {
    width: 100%;
    height: 60px;
    border: 0px;
    background-color: rgba(0,0,0,0);
    color:#FFFFFF;
    transition:1s;
}
.windesk .startmenu > .sidebar > button:hover {
    background-color: rgba(255,255,255,.15);
}
.windesk .startmenu>.submenu>dl{
    margin:10px;
}
.windesk .startmenu > .submenu > dl > dt {
    height: 45px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    line-height: 45px;
    width:100%;
    text-indent:10px;
}
.windesk .startmenu > .submenu > dl > dt.open::after {
    transform: rotate(-90deg);
    margin-top:2px;
}
.windesk .startmenu > .submenu > dl > dt:hover{
    background-color:rgba(255,255,255,.3);
}
.windesk .startmenu > .submenu > dl > dt > span {
                
}
.windesk .startmenu > .submenu > dl > dt::after {
    font-family: 'zw-icon';
    content: '\e127';
    float: right;
    transform: rotate(90deg);
    margin-top:-5px;
}
.windesk .startmenu > .submenu > dl > dd {
    background-color: rgba(0,0,0,.5);
    padding:0px 5px;
    border-radius:3px;
    overflow:hidden;
    height:0;
}
.windesk .startmenu > .submenu > dl > dd > a {
    width: 100%;
    display:inline-block;
    height:35px;
    text-decoration:none;
    line-height:35px;
    color:#FFFFFF;
}
.windesk .startmenu > .submenu > dl > dd > a:hover{
    background:rgba(0,0,0,.5);
    border-radius:3px;
    color:#FFFFFF;
}
.windesk .startmenu > .submenu > dl > dd > a > i {
    margin-left:20px;
    margin-right:5px;
    display: inline-block;
    width: 19px;
    height: 19px;
}
.zw-dpn{
    display:-webkit-box !important;
}


.html {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    position: relative;
}
.html > .nav {
    border-right: 1px solid #F0F0F0;
    position: relative;
}
.html > .nav > ul {
    width: 200px;
    padding: 5px;
}
.html>.nav>ul>li{
    height:40px;
    line-height:40px;
    margin-bottom:5px;
}
.html > .nav>ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    color: #414b55;
}
.html > .nav>ul > li > a:hover {
    background-color: rgba(5,127,235,0.04);
    color: #414b55;
}
.html > .nav>ul > li > a.active {
    background-color: rgba(5,127,235,0.1);
}
.html > .nav>ul > li > a>i{
    margin-left:10px;
    margin-right:10px;
}
.html > .content {
    padding:5px;
    -webkit-box-flex: 1;
    overflow:auto;
}
.html > .nav > .bar {
    width: 8px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #F0F0F0;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -15px;
    border-right-width: 0px;
    transform: rotate(180deg);
    border-radius: 3px 0px 0px 3px;
    background-image: linear-gradient(90deg,rgba(240,240,240,.5),#f0f0f0);
    user-select: none;
}

.html > .nav > .bar::before {
    font-family: 'zw-icon';
    content: '\e127';
    margin-left: -3px;
    font-size: 10px;
}

.html > .nav > .barclose {
    border-radius: 0px 3px 3px 0px;
    transform: rotate(0deg);
    background-image: linear-gradient(90deg,rgba(240,240,240,.5),#f0f0f0);
}
.desktop-icon > i, .icon > i {
    font-size: 30px;
    width: 52px;
    height: 52px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: linear-gradient(#FF9C00D1 50%,#FF8400D1 50%);
    color: #FFFFFF;
    line-height: 52px;
    border-radius: 5px;
    margin: 6px;
}
.icon:hover {
    /*background: rgba(204,232,255,.2);
    border: 1px solid rgba(153,209,255,1);
    color:#5e6a5c;*/
}